SmartH2O_Service/App_Data/log-sensors.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sensor" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:byte" name="Value"/>
              <xs:element type="xs:string" name="Date"/>
              <xs:element type="xs:time" name="Time"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>